
.wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  height: 90vh;
}

.box1,.box2,.box3{margin-bottom: 80px;}


.box1{
  width: 300px;
  height: 300px;
  background-color: rgb(255, 173, 231);
  animation-name: color;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes color{
  from{background-color: rgb(255, 173, 231)}
  to {background-color: purple;}
}



.box2{
  width: 300px;
  height: 300px;
  background-color: rgb(231, 198, 198);
  position: relative;
  animation-name: move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes move{
  0%{left:0px; top:0px;}
  50%{left:300px; top:0px;}
  100%{left:0px; top:0px;}
}



.box3{
  width: 300px;
  height: 300px;
  background-color: black;
  animation: play;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  position: relative;
}
@keyframes play{
  0%{
    background-color: black;

  }
  
  25%{
    background-color: red;
 
  }

  50%{
    background-color: rgb(73, 42, 165);
    left:0px;
    top:0px;
  }

  75%{
    background-color: brown;
    left:200px;
    top:0px;
  }

  100%{
    background-color: brown;
    left:0px;
    top:0px;
  }

}